* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}

:root {
  /*Primeiro opção*/
  --azul-royal: #4169e1;
  --azul-escuro: #041833;
  --azul-medio: #1875e8;

  /*Segundo opção*/
  /* --primeiro: #2b9eb3;
    --segundo: #85cc9c;
    --terceiro: #bcd9a0;
    --quarto: #edf79e;
    --quinto: #fafad7; */

  /*Terceiro opção*/
  --primeiro: #87e8d1;
  --segundo: #74d5bf;
  --terceiro: #60c3ad;
  --quarto: #4db09a;
  --quinto: #399d88;

  --cor-fonte-principal: #041833;
  --cor-fonte-post: #444444;
  --branco: #fff;
  --fonte-principal: "Josefin Sans", serif;
  font-family: var(--fonte-principal);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a,li,button,input,textarea {
  font: inherit;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

h1,h2,h3 {
  font-weight: 700;
  line-height: 5rem;
}

button {
  background-color: transparent;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background-color: var(--primeiro);
  color: var(--cor-fonte-principal);
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: var(--cor-fonte-principal);
}

#header .logo img {
  max-height: 40px;
}


/*--------------------------------------------------------------
# Back to top button

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #47b2e4;
    color: #fff;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: #209dd8;
    color: #fff;
  }  
-------------------------------------------------------------*/
