/* Projetos */
.projetos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.projeto {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Garante que tudo fique centralizado */
    height: auto;
}

/* Ajuste na imagem */
.projeto img {
    width: 100%;
    max-width: 300px; /* Define um tamanho máximo para manter padronizado */
    height: 200px; /* Mantém um tamanho fixo */
    object-fit: cover; /* Garante que a imagem se ajuste sem distorcer */
    border-radius: 10px;
}

/* Centraliza e mantém os textos alinhados */
.projeto h3, 
.projeto p, 
.projeto p i {
    max-width: 100%; /* Permite que os textos se ajustem */
    text-align: center; /* Centraliza o texto */
    margin: 5px 0; /* Adiciona um espaçamento uniforme */
}

/* Ajusta o botão para ficar no final */
/* Ajuste do botão */
.projeto a {
    display: inline-block;
    margin-top: auto; /* Empurra o botão para o final */
    padding: 10px 15px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-self: center; /* Mantém o botão centralizado */
}
.projeto a:hover {
    background: #555;
}

/* .botao{
    margin-top: auto; 
    align-self: center; 
} */